@import "partials/base";
@import "blueprint";
@import "compass";
@import "compass/css3";
@import "compass/reset";

body {
	font-size:16px;
	color:#FFF;
}

#container {
	width:990px;
	margin: 0 auto 60px;
	overflow:hidden;
	padding:20px;
}

header {
	margin: 30px 0 20px;
	float:left;
	width:100%;
	.logo {
		float:left;
		font-family: bello-pro;
		font-size:40px;
		font-weight:normal;
		@include text-shadow(-1px 1px 0 rgba(0,0,0,0.6));
		a {
			text-decoration:none;
			color:rgb(196,0,0);
		}
	}
	#navigation {
		float:right;
		padding-top:5px;
		a {
			font-size:16px;
			display:inline-block;
			@include border-radius(2px);
			background: rgba(196,0,0,0.4);
			color:#fff;
			@include text-shadow(0 1px 1px rgba(0,0,0,0.2));
			@include box-shadow(-1px 1px 0 rgba(0,0,0,0.4));
			padding:5px 10px;
			margin-left:5px;
			text-decoration:none;
			@include transition(background .2s);
			&:hover, &.selected {
				background: rgba(196,0,0,0.9);
			}
		}
	}
}

#about {	
	@include border-top-radius(2px);
	background: rgb(202,5,0) url('/images/stars.png') repeat;	
	float:left;
	width:100%;
	color:#FFF;
	border-bottom:1px solid #AB0000;
	position:relative;
	p {
		padding: 20px;	
		float:left;
		font-size: 24px;
		text-align:left;
		@include text-shadow(0 1px 1px rgba(0,0,0,0.5));
		margin:0;
	}
	.book-us {
		float:right;
		margin:10px 20px 10px 10px;
		padding: 10px 10px 5px;	
		font-family: bello-pro;
		font-size: 28px;
		color:#FFF;
		font-weight:normal;
		background:#B60000;
		border:1px solid #990000;
		@include text-shadow(-2px 2px 0px rgba(0,0,0,0.4));
		@include border-radius(10px);
		text-decoration:none;
		@include transition(background, .2s);
		&:hover {
			background:#A10000;
		}
	}
}


#content {
	background: rgba(202,5,0,0.95);
	@include border-radius(2px);
	@include box-shadow(-1px 1px 0 rgba(0,0,0,0.4));
	width:100%;
	float:left;
	display:block;
	position:relative;
}

#body_content {
	width: span(20);
	float:left;
	line-height:1.4em;
	@include text-shadow(0 1px 1px rgba(0,0,0,0.2));
	#body_content_title {
		font-size:24px;
		margin-bottom:20px;
		font-weight:700;
		font-size:32px;	
		padding:20px 20px 0;
		width: span(20);
		margin:0;
	}
	#body_content_left {
		padding: 20px;
		width: span(20);
		overflow:hidden;
	}
	#body_content_right {
		padding: 20px;
		width: span(20);
		border-top: 1px solid #990000;
		overflow:hidden;
	}
}

#ladies {
	li {
		@include column(4);		
		.photo {
			display:block;
		}
		.name {
			display:block;
			color:#FFF;
			text-decoration:none;
			&:hover {
				text-decoration:underline;
			}
		}
	}
}

#other-ladies h2 {
	padding-bottom:20px;
	font-weight:700;
}

#lady {
	img {
		float:left;
		@include column(8);
	}
	.info {
		@include column(12, true);
		@include inline-block;
		h1 {
			font-weight:700;
			font-size:32px;
			padding-bottom:20px;
		}
	}
}

form {
	float:left;
	.text-fields {
		width:span(6);
		margin-right:20px;
	}
	.field {
		label {
			display:block;
			padding:0;
			margin-bottom:4px;
			@include text-shadow(0 1px 1px rgba(0,0,0,0.4));
		}
		input, textarea {
			margin: 0 0 10px 0;
			padding: 0 10px;
			width:254px;
			height:25px;
			border:none;
			@include box-shadow(0 1px 0 rgba(0,0,0,0.4));
			border-top: 3px #FFF solid;
			@include transition(border-color .2s);
			&:focus {
				outline:none;
				border-top: 3px #333 solid;
			}
		}
		textarea {
			padding: 10px;
			height: auto;
		}
	}
	.actions {
		clear:both;
		input {
			margin:0;
			padding: 5px 10px;	
			font-family: rooney-web, "helvetica neue", helvetica, sans-serif;
			font-size: 18px;
			color:#FFF;
			font-weight:normal;
			background:#B60000;
			border:1px solid #990000;
			@include text-shadow(-1px 1px 0px rgba(0,0,0,0.4));
			@include border-radius(2px);
			text-decoration:none;
			@include transition(background .2s, border-color .2s);
			&:hover {
				background:#A10000;
				cursor:pointer;
				border-color:#810000;
			}
		}
	}
}


